@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&display=swap");

:root {
    --header-height: 3rem;
    --header-height-hover: 6rem;

    --footer-height: 20vh;
    --content-width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* :target::before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 7rem;
    margin-top: -7rem;
} */

html {
    background: #111;
    background: linear-gradient(to bottom, #2c536400 6rem, #0f2027),
        linear-gradient(
            to left,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(0, 212, 255, 1) 100%
        );
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

section {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);

    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        to left,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        to left,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        to left,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);

    transition: height 0.3s ease-in-out;
}

nav:hover {
    height: var(--header-height-hover);
}

nav[top-active] {
    height: calc(2rem + var(--header-height-hover));
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.2rem;
    height: 4rem;
}

nav ul li {
    color: white;
    position: relative;

    display: inline-flex;
    align-items: center;
}

nav img {
    border-radius: 100000px;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    object-fit: cover;

    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out;
}

:is(nav:hover, nav[top-active]) img {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
}

nav .logo span {
    color: black;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

:is(nav:hover, nav[top-active]) .logo span {
    color: white;
    font-size: 1.5rem;
}

nav .links li {
    margin-right: 3rem;
}

nav .links li:nth-of-type(1):hover {
    color: #fcb045;
}

nav .links li:nth-of-type(2):hover {
    color: #fc6932;
}

nav .links li:nth-of-type(3):hover {
    color: #fd1d1d;
}

nav .links li:nth-of-type(4):hover {
    color: #b32f79;
}

nav .links li::before,
nav .links li::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    border-radius: 100000px;
    background: white;

    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, background 0.3s ease-in-out;

    z-index: 10;
}

nav .links li::before {
    top: 0;
}

nav .links li::after {
    bottom: 0;
}

:is(nav:hover, nav[top-active]) .links li::before,
:is(nav:hover, nav[top-active]) .links li::after {
    width: max(50%, 1.8rem);
    opacity: 1;
}

nav .links li:hover::before,
nav .links li:hover::after {
    width: calc(max(50%, 1.8rem) + 1rem);
    opacity: 0;
    background: white;
}

nav .links li a {
    height: 100%;

    display: inline-flex;
    align-items: center;
}

#content {
    position: relative;
    width: var(--content-width);
    margin: 0 auto;
    background-color: white;

    z-index: 10;
    border-radius: 4rem;

    /* Footer Height */
    margin-bottom: 20vh;

    /* Place for Header */
    margin-top: calc(2rem + var(--header-height-hover));
}

footer {
    position: fixed;
    /* background: #111; */
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
}

#footer-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    will-change: transform;
}

.container-social-links {
    color: white;
}

.label-social-links {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    user-select: none;

    padding-left: 1rem;
    overflow: visible;

    background: linear-gradient(341deg, #1d9bf0, #9147ff, #f5b942, #1d9bf0);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transition: transform 0.3s ease-in-out;
    animation: label-social-links 47s linear infinite;
}

@keyframes label-social-links {
    to {
        background-position: 300% center;
    }
}

.container-social-links:hover .label-social-links {
    transform: translateX(1rem);
}

.label-social-links::before {
    content: "➜";
    position: absolute;
    left: -0.3rem;

    background: linear-gradient(341deg, #9147ff, #f5b942, #1d9bf0, #9147ff);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container-social-links:hover .label-social-links::before {
    transform: scale(1);
    opacity: 1;
}

.social-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
}

.social-links:hover .social-link {
    transform: scale(0.8);
}

.social-link {
    padding: 1rem;

    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background 0.15s ease-in-out;
}

.social-link a {
    display: flex;
    align-items: center;
}

.social-link:nth-of-type(1):hover {
    color: #ab57eb;
    transform: scale(1.5) rotate(-3deg);
}

.social-link:nth-of-type(2):hover {
    color: #df316b;
    transform: scale(1.5) rotate(-5deg);
}

.social-link:nth-of-type(3):hover {
    color: #fe0000;
    transform: scale(1.5) rotate(4deg);
}

.social-link:nth-of-type(4):hover {
    color: #f5b942;
    transform: scale(1.5) rotate(-6deg);
}

.social-link:nth-of-type(5):hover {
    color: #2684ff;
    transform: scale(1.5) rotate(-5deg);
}

.social-link:nth-of-type(6):hover {
    color: #f07b0f;
    transform: scale(1.5) rotate(3deg);
}

.social-link:nth-of-type(7):hover {
    color: #1d9bf0;
    transform: scale(1.5) rotate(5deg);
}

.social-link:nth-of-type(8):hover {
    color: #9147ff;
    transform: scale(1.5) rotate(4deg);
}

.social-link:nth-of-type(9):hover {
    color: #3b67b3;
    transform: scale(1.5) rotate(-4deg);
}

.social-link:nth-of-type(10):hover {
    color: #ff3f18;
    transform: scale(1.5) rotate(-2deg);
}
